extends ../layouts/adminLayout

block content
    
    .container-fluid
        h1.text-center order Viewer
        div.row.order_state_selector
            .col
                a(href='/admin/orderManager/?stateX=0').notReply.btn.btn-light đơn hàng chưa phản hồi

            .col 
                a(href='/admin/orderManager/?stateX=1').packaging.btn đơn hàng đang đóng gói 

            .col 
                a(href='/admin/orderManager/?stateX=2').success.btn đơn hàng đã giao thành công 

            .col 
                a(href='/admin/orderManager/?stateX=-1').cancel.btn đơn hàng đã bị hủy
                
        if orders 
            .row.mt-3
                table.table(style='border-radius: 5px; overflow: hidden') 
                    thead 
                        tr.text-dark
                            th mã hóa đơn
                            th Tên khách hàng 
                            th Giá trị đơn hàng
                            th Ghi chú
                            th Action
                    tbody 
                        each order in orders
                            if order.state == 0
                                tr.text-dark(style='background-color: white')
                                    td= order._id
                                    td= order.name 
                                    td= order.price 
                                    td= order.note
                                    td
                                        .action-container
                                            a.btn.btn-info.btn-sm(href ='/admin/order/' + order._id)
                                                i.fas.fa-info-circle
                            if order.state == 1 
                                tr.text-dark(style='background-color: #a3cfbb')
                                    td= order._id
                                    td= order.name 
                                    td= order.price 
                                    td= order.note
                                    td  
                                        .action-container
                                            a.btn.btn-info.btn-sm(href ='/admin/order/' + order._id)
                                                i.fas.fa-info-circle
                            
                            if order.state == 2
                                tr.text-dark(style='background-color: #fd9843')
                                    td= order._id
                                    td= order.name 
                                    td= order.price 
                                    td= order.note
                                    td
                                        .action-container
                                            a.btn.btn-info.btn-sm(href ='/admin/order/' + order._id)
                                                i.fas.fa-info-circle
                            
                            if order.state == -1
                                tr.text-dark(style='background-color: rgb(252, 112, 112);')
                                    td= order._id
                                    td= order.name 
                                    td= order.price 
                                    td= order.note
                                    td
                                        .action-container
                                            a.btn.btn-info.btn-sm(href ='/admin/order/' + order._id)
                                                i.fas.fa-info-circle
        if pageArray
            ul.pagination  
                each page in pageArray
                    if parseInt(page) == parseInt(recentPage)
                        li.page-item.active
                            a.page-link(href=currentURL + page)= page
                    else
                        li.page-item
                            a.page-link(href=currentURL +  page)= page 
                   
                            