extends ../layouts/adminLayout

block content
    .container-fluid
        h1 Product Manager
        a.btn.btn-primary.btn-sm(href = "createProduct") Tạo một sản phẩm mới
        table.table.mt-2
                thead
                    tr
                        th(scope='col') Tên
                        th(scope='col') Ảnh
                        th(scope='col') Brand
                        th(scope='col') Giá
                        th(scope='col') Loại
                        th(scope='col') Action
                tbody
                    each product in products
                        tr 
                            td= product.name
                            td
                                img(src=product.image, style="max-height: 50px")
                            td= product.brand
                            td
                                p= product.price 
                            td
                                p= product.category 
                                   | / #{product.subCategory}
                            td
                                .action-container
                                    a.btn.btn-info.btn-sm(href = '/product/' +  product.id)
                                        i.fas.fa-info-circle
                                    form(Action = product.id + "/deleteProduct" , method='POST')
                                        button.btn.btn-danger.btn-sm(type='submit')
                                            i.fas.fa-trash-alt
                                    a.btn.btn-warning.btn-sm(href =  product.id + '/productUpdate')
                                        i.fas.fa-edit
                                    a.btn.btn-secondary.btn-sm()
                                        i.fas.fa-eye-slash