extends ../layouts/common

block content
    
    //- script.
    //-     window.onload = function() {setTimeout(function(){document.getElementById('body-content').style.filter="blur(0)";},500);};
    //- style.
    //-     #body-content  {filter : blur(5px)}
    .home(style='background-image : url('+backgroundImage+'); padding-bottom : 20px')
        .container.carouselNfriend
            .row
                .col-md-12.col-sm-12.col-lg-8
                    #image-slider.splide
                        .splide__track
                            ul.splide__list
                                each banner in banners
                                    a.splide__slide(href=banner.link, style="border-radius : 10px ; border : 1px solid white;")
                                        img(src=banner.image)
                .rightTheSlide.col-md-12.col-lg-4
                    .platform
                        h3 Ghé thăm chúng tôi trên các nền tảng khác
                        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" )
                        .platform-row
                            a.platform-link.y(href='http://youtube.com')
                                i.fab.fa-youtube.fa-3x
                            a.platform-link.f(href='http://fb.com')
                                i.fab.fa-facebook-f.fa-3x
                        .platform-row
                            a.platform-link.t(href='http://tiktok.com')
                                i.fab.fa-tiktok.fa-3x
                            a.platform-link.i(href='http://instagram.com')
                                i.fab.fa-instagram.fa-3x
                    .extendLink
                        a(href="/product/storeOnMap") 
                            i.fas.fa-map-marked-alt
                            | Tìm cửa hàng gần bạn 
                        a(href="/product/deliveryInfo") 
                            i.fas.fa-truck
                            |Tra cứu trạng thái đơn hàng của bạn
        .mt-3.container
            .brand.cardCategory
                h2.cardCategoryHead
                    span Thương hiệu
                .cardContainer.row
                    each brand in brands
                        a(href="/product/brandInfo/" + brand.name).card
                            img(src= brand.logo, alt="")
            .mt-3.priceRange.cardCategory
                h2.cardCategoryHead
                    span Khoảng giá
                .cardContainer
                    a.btn.btn-light.mb-3(href='/product/?range=1') Dưới 2 Triệu
                    a.btn.btn-light.mb-3(href='/product/?range=2') 2 - 5 Triệu
                    a.btn.btn-light.mb-3(href='/product/?range=3') 5 - 7 Triệu
                    a.btn.btn-light.mb-3(href='/product/?range=4') 7 - 10 Triệu
                    a.btn.btn-light.mb-3(href='/product/?range=5') 10 - 15 Triệu
                    a.btn.btn-light.mb-3(href='/product/?range=6') Trên 15 Triệu
                .container
                    .mt-3.row(style='margin-top: 10px;')
                        if productsInRange
                            each product in productsInRange
                                .col-lg-2.col-sm-6.col-6.col-md-4
                                    a.card_link(href= '/product/' + product.id)
                                        .pro_card
                                            .card_image
                                                img(src= product.image alt='')
                                                .special
                                                    p(style="visibility:hidden") Mới về
                                                    if product.discountedPrice
                                                        p SALE
                                            .card_content
                                                p.card_name= product.name
                                                a.brand(href='')= product.brand
                                                .price
                                                    if !product.discountedPrice
                                                        p.numberPrice.final= product.price 
                                                            
                                                        p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                                            
                                                    else 
                                                        p.numberPrice.final=product.discountedPrice 
                                                            
                                                        p.mb-2.before=product.price 
                                                            
                                                .add2cart.d-flex.justify-content-center
                                                    a(href="/product/addToShoppingCart/" + product.id).btn.btn-primary.btn-sm  Thêm vào giỏ hàng 
            if productsSale        
                .mt-3.priceRange.cardCategory
                    h2.cardCategoryHead
                        span Đang giảm giá
                    .container
                        .mt-3.row(style='margin-top: 10px;')
                            each product in productsSale
                                .col-lg-2.col-sm-6.col-6.col-md-4
                                    a.card_link(href= '/product/' + product.id)
                                        .pro_card
                                            .card_image
                                                img(src= product.image alt='')
                                                .special
                                                    p(style="visibility:hidden") Mới về
                                                    if product.discountedPrice
                                                        p SALE
                                            .card_content
                                                p.card_name= product.name
                                                a.brand(href='')= product.brand
                                                .price
                                                    if !product.discountedPrice
                                                        p.numberPrice.final= product.price 
                                                            
                                                        p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                                            
                                                    else 
                                                        p.numberPrice.final=product.discountedPrice 
                                                            
                                                        p.mb-2.before=product.price 
                                                            
                                                .add2cart.d-flex.justify-content-center
                                                    a(href="/product/addToShoppingCart/" + product.id).btn.btn-primary.btn-sm  Thêm vào giỏ hàng 
                    .row
                        a(href="/product/category/?name=discounted", style='display:block; width : 200px').btn.btn-outline-danger.btn-lg.mx-auto Xem tất cả            
            if (ProductPreOrder.length > 0)
                .mt-3.priceRange.cardCategory
                    h2.cardCategoryHead
                        span Order / Hàng đang về
                    .mt-3.row(style='margin-top: 10px;')
                            each product in ProductPreOrder
                                .col-md-2
                                    a.card_link(href= '/product/' + product.id)
                                        .pro_card
                                            .card_image
                                                img(src= product.image alt='')
                                                .special
                                                    p(style="visibility:hidden") Mới về
                                                    if product.discountedPrice
                                                        p SALE
                                            .card_content
                                                p.card_name= product.name
                                                a.brand(href='')= product.brand
                                                .price
                                                    if !product.discountedPrice
                                                        p.numberPrice.final= product.price 
                                                            
                                                        p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                                            
                                                    else 
                                                        p.numberPrice.final=product.discountedPrice 
                                                            
                                                        p.mb-2.before=product.price 
                                                            
                                                .add2cart.d-flex.justify-content-center
                                                    a(href="tel:+84335670934").btn.btn-success.btn-sm Gọi để đặt hàng 
    script( type="text/javascript" src="js/script.js")