extends ../layouts/common

block content
    .container
        nav(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                a.page-link(href='?page=1') 1
                li.page-item
                a.page-link(href='?page=2') 2
                li.page-item
                a.page-link(href='?page=3') 3
        .row(style='margin-top: 10px;')
            each product in products
                .col-md-2
                    a.card_link(href='product/' + product.id)
                        .pro_card
                            .card_image
                                img(src=product.image alt='')
                                .special
                                    p Mới về
                                    p SALE  
                            .card_content
                                p.card_name= product.name
                                a.brand(href='')= product.brand
                                .price
                                    p.final=product.discountedPrice 
                                        | &#x20AB;
                                    p.before=product.price 
                                        | &#x20AB;
                                .add2cart
                                    button Thêm vào giỏ hàng