extends ../layouts/common

block content
    .home(style='background-image : url('+backgroundImage+'); padding-bottom : 20px')
        .container.carouselNfriend
            .row
                .col-md-8
                    .carousel#carouselExampleIndicators.slide(data-bs-ride='carousel')(style='max-height: 350px ; overflow: hidden ')
                        .carousel-indicators
                            button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                            button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
                            button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
                        .carousel-inner
                            a.carousel-item.active(href='#')
                                    img.d-block.w-100(src='https://images.unsplash.com/photo-1534782710882-2f5e2c80c1b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80')
                            each banner in banners
                                a.carousel-item(href=banner.link)
                                    img.d-block.w-100(src=banner.image)
                        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next
                .col-md-4
                    h3 Ghé thăm chúng tôi trên các nền tảng khác
                    .platform
                        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" )
                        .platform-row
                            a.platform-link.y(href='http://youtube.com')
                                i.fab.fa-youtube.fa-3x
                            a.platform-link.f(href='http://fb.com')
                                i.fab.fa-facebook-f.fa-3x
                        .platform-row
                            a.platform-link.t(href='http://tiktok.com')
                                i.fab.fa-tiktok.fa-3x
                            a.platform-link.i(href='http://instagram.com')
                                i.fab.fa-instagram.fa-3x
        .mt-3.container
            .brand.cardCategory
                h2.cardCategoryHead
                    span Thương hiệu
                .cardContainer.row
                    each brand in brands
                        a(href="/product/brandInfo/" + brand.name).card
                            img(src= brand.logo, alt="")
                    
            .mt-5.priceRange.cardCategory
                h2.cardCategoryHead
                    span Khoảng giá
                .cardContainer
                    a.btn.btn-light(href='/product/?range=1') Dưới 2 Triệu
                    a.btn.btn-light(href='/product/?range=2') 2 - 5 Triệu
                    a.btn.btn-light(href='/product/?range=3') 5 - 7 Triệu
                    a.btn.btn-light(href='/product/?range=4') 7 - 10 Triệu
                    a.btn.btn-light(href='/product/?range=5') 10 - 15 Triệu
                    a.btn.btn-light(href='/product/?range=6') Trên 15 Triệu
                .container
                    .mt-3.row(style='margin-top: 10px;')
                        if productsInRange
                            each product in productsInRange
                                .col-md-2
                                    a.card_link(href= '/product/' + product.id)
                                        .pro_card
                                            .card_image
                                                img(src= product.image alt='')
                                                .special
                                                    p(style="visibility:hidden") Mới về
                                                    if product.discountedPrice
                                                        p SALE
                                            .card_content
                                                p.card_name= product.name
                                                a.brand(href='')= product.brand
                                                .price
                                                    if !product.discountedPrice
                                                        p.final= product.price 
                                                            | &#x20AB;
                                                        p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                                            | &#x20AB;
                                                    else 
                                                        p.final=product.discountedPrice 
                                                            | &#x20AB;
                                                        p.mb-2.before=product.price 
                                                            | &#x20AB;
                                                .add2cart.d-flex.justify-content-center
                                                    a(href="/product/addToShoppingCart/" + product.id).btn.btn-primary.btn-sm  Thêm vào giỏ hàng 
            if productsSale        
                .mt-5.priceRange.cardCategory
                    h2.cardCategoryHead
                        span Đang giảm giá
                    .mt-3.container.row(style='margin-top: 10px;')
                        each product in productsSale
                            .col-md-2
                                a.card_link(href= '/product/' + product.id)
                                    .pro_card
                                        .card_image
                                            img(src= product.image alt='')
                                            .special
                                                p(style="visibility:hidden") Mới về
                                                if product.discountedPrice
                                                    p SALE
                                        .card_content
                                            p.card_name= product.name
                                            a.brand(href='')= product.brand
                                            .price
                                                if !product.discountedPrice
                                                    p.final= product.price 
                                                        | &#x20AB;
                                                    p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                                        | &#x20AB;
                                                else 
                                                    p.final=product.discountedPrice 
                                                        | &#x20AB;
                                                    p.mb-2.before=product.price 
                                                        | &#x20AB;
                                            .add2cart.d-flex.justify-content-center
                                                a(href="/product/addToShoppingCart/" + product.id).btn.btn-primary.btn-sm  Thêm vào giỏ hàng 
                    .row
                        a(href="/product/category/?name=discounted", style='display:block; width : 200px').btn.btn-outline-danger.btn-lg.mx-auto Xem tất cả            
            if (ProductPreOrder.length > 0)
                .mt-5.priceRange.cardCategory
                    h2.cardCategoryHead
                        span Order / Hàng đang về
                    .mt-3.row(style='margin-top: 10px;')
                            each product in ProductPreOrder
                                .col-md-2
                                    a.card_link(href= '/product/' + product.id)
                                        .pro_card
                                            .card_image
                                                img(src= product.image alt='')
                                                .special
                                                    p(style="visibility:hidden") Mới về
                                                    if product.discountedPrice
                                                        p SALE
                                            .card_content
                                                p.card_name= product.name
                                                a.brand(href='')= product.brand
                                                .price
                                                    if !product.discountedPrice
                                                        p.final= product.price 
                                                            | &#x20AB;
                                                        p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                                            | &#x20AB;
                                                    else 
                                                        p.final=product.discountedPrice 
                                                            | &#x20AB;
                                                        p.mb-2.before=product.price 
                                                            | &#x20AB;
                                                .add2cart.d-flex.justify-content-center
                                                    a(href="tel:+84335670934").btn.btn-success.btn-sm Gọi để đặt hàng 
