extends ../layouts/common

block content
    .container
        nav(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                a.page-link(href='?page=1') 1
                li.page-item
                a.page-link(href='?page=2') 2
                li.page-item
                a.page-link(href='?page=3') 3
        .row(style='margin-top: 10px;')
            each product in products
                .col-md-2
                    a.card_link(href= 'product/' + product.id)
                        .pro_card
                            .card_image
                                img(src= product.image alt='')
                                .special
                                    p(style="visibility:hidden") Mới về
                                    if product.discountedPrice
                                        p SALE
                            .card_content
                                p.card_name= product.name
                                a.brand(href='')= product.brand
                                .price
                                    if !product.discountedPrice
                                        p.final= product.price 
                                            | &#x20AB;
                                        p(style="visibility:hidden").mb-2.before= product.discountedPrice
                                            | &#x20AB;
                                    else 
                                        p.final=product.discountedPrice 
                                            | &#x20AB;
                                        p.mb-2.before=product.price 
                                            | &#x20AB;
                                .add2cart.d-flex.justify-content-center
                                    a(href="/product/addToShoppingCart/" + product.id).btn.btn-primary.btn-sm  Thêm vào giỏ hàng 
