extends ../layouts/common

block content
    script(src="js/shoppingCart.js") 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    .container.shopping-cart
        .row.d-flex
            if products
                .col-lg-8.col-12
                    each item in products
                        .aProduct.d-flex.flex-row.mt-3
                            .imageCover.col-4.d-flex.align-items-center.justify-content-center
                                img(src= item.item.image, alt="", style="max-height: 100px")
                            .infoCover.col-8
                                p.Name= item.item.name
                                if (item.item.discountedPrice)
                                    p.text-danger.numberPrice= item.item.discountedPrice
                                        
                                else 
                                    p.text-danger.numberPrice= item.item.price
                                        
                                .d-flex.justify-content-between
                                    .right.d-flex.align-items-center
                                        //- button.btn#btn-minus -
                                        p#quantity.quantity.text-center( style='width:40px ; margin : 0')= item.quantity
                                        //- button.btn#btn-plus +
                                    a.btn.btn-danger(href='/product/shoppingCart/remove/' + item.item._id) Xóa
                        hr
                    
                .col-lg-4.col-12.priceCover
                    p Giá : 
                        span.price.numberPrice= totalPrice
                    a.btn.btn-primary(href='/product/checkOut') Check Out
            else 
                h2.text-center.mt-3  Không có sản phẩm nào trong giỏ hàng
                img(src='https://assets.materialup.com/uploads/66fb8bdf-29db-40a2-996b-60f3192ea7f0/preview.png', style='width:60%; margin: auto').mx-auto