extends ../layouts/common

block content
    .container.shopping-cart
        .row
            if products
                .col-md-8
                    table.table
                        thead
                            tr
                                th(scope="col") Sản phẩm
                                th(scope="col") Ảnh sản phẩm
                                th đơn giá
                                th.text-center(scope="col") Số lượng
                                th action
                        tbody
                                each item in products
                                    tr
                                        td= item.item.name
                                        td 
                                            img(src= item.item.image, alt="", style="max-height: 100px")
                                        if (item.item.discountedPrice)
                                            td= item.item.discountedPrice
                                        else 
                                            td= item.item.price
                                        td.text-center
                                            p.primary= item.quantity
                                        td 
                                            a.btn.btn-danger(href='/product/shoppingCart/remove/' + item.item._id) Xóa
                .col-md-4 
                    
                    p Giá : 
                        span.price= totalPrice
                        |   VNĐ
                    a.btn.btn-primary(href='/product/checkOut') Check Out
            else 
                img(src='https://assets.materialup.com/uploads/66fb8bdf-29db-40a2-996b-60f3192ea7f0/preview.png', style='max-width: 30%').mx-auto
                h2.text-center Không có sản phẩm nào trong giỏ hàng