extends ../layouts/common

block content
    
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    .product-detail(style='background-image : url('+backgroundImage+')')
        .container
            link(href='https://css.gg/menu.css' rel='stylesheet')
            .row
                .col-6
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href="/product") 
                                    i(class='material-icons') storefront
                            li.breadcrumb-item.active
                                span product
                .col-6.justify-content-end.d-flex
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href="/product/category/?name=" + productDetail.category)= productDetail.category
                            li.breadcrumb-item
                                a(href="/product/category/?name=" + productDetail.category+ "&subCategory=" + productDetail.subCategory)= productDetail.subCategory
                
            .row.product-info
                .col-lg-5.col-12.justify-content-center.d-flex
                    img(src=productDetail.image, alt="", style ='max-width:90%; border-radius: 10px')
                .col-lg-7.col-12
                    h1= productDetail.name
                    p thương hiệu 
                        a(href="/product/brandInfo/" + productDetail.brand) 
                            img(src=brandLogo, alt="", style='max-height: 70px')
                    p Số lượng :
                        |
                        = productDetail.amount
                    p= productDetail.introText
                    if (giftList.length > 0)
                        .giftProductList.row
                            h5 Quà tặng kèm
                            each gift in giftList
                                a.col-md-6.row.giftProduct(href="/product/" + gift.giftID) 
                                    .col-md-8
                                        p= gift.giftName
                                    .col-md-4
                                        img(src=gift.giftImage, alt="" , style='height : 70px')


                    if productDetail.sound
                        iframe( style='width : 100%; height : 420px' src=productDetail.sound title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true')
            hr
            .row
                h1 Mô tả chi tiết 
                p= productDetail.description
        .fixed-bottom
            .container
                .row 
                    .col-lg-3.hotline
                        h5 Hotline :
                        a(href="tel:+845670934") 
                            Strong  0335670934
                    .col-lg-3.price.col-6
                        if (productDetail.discountedPrice)
                            p.final-price.numberPrice= productDetail.discountedPrice 
                            p.before-price.numberPrice= productDetail.price
                        else 
                            p.final-price.numberPrice= productDetail.price
                    .col-6.add2Cart.d-flex.justify-content-end  
                        a(href="/product/addToShoppingCart/" + productDetail.id).btn.btn-primary  Thêm vào giỏ hàng 
    script( type="text/javascript" src="js/script.js")
